params.reads        = 'data/*_R{1,2}.fastq.gz'
params.reference    = 'data/MT.fna'
profiles {
    conda {
        conda.enabled       = true
    }
    mamba {
        conda.enabled       = true
        conda.useMamba      = true
    }
    docker {
        docker.enabled       = true
    }
    apptainer {
        apptainer.enabled       = true
    }
    singularity {
        singularity.enabled       = true
    }
}